//@font-face {
//  font-family: Roboto;
//  font-style: normal;
//  font-weight: 400;
//  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
//}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(52, 52, 52);
}

.app {
  color: white
}

.form {
  width: 300px;
  padding: 10px;
  margin: 50px auto;
  border: 1px solid;
  border-radius: 10px;
  background-color: indigo;
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 10px;
}

/*.container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  padding: 20px;*/
/*  height: 48px;*/
/*  background-color: rgb(32, 32, 32);*/
/*}*/

/*.navbar {*/
/*  width: 1280px;*/

/*}*/

/*.brand {*/
/*  color: white;*/
/*  font-size: 1.2rem;*/
/*  font-family: Roboto, sans-serif;*/
/*  font-weight: 400;*/
/*}*/

/*.body {*/
/*  width: 100%;*/
/*  height: calc(100vh - 48px - 96px);*/
/*  background-color: rgb(42, 42, 42);*/
/*}*/

/*.footer {*/
/*  width: 100%;*/
/*  height: 96px;*/
/*  background-color: rgb(32, 32, 32);*/
/*}*/
